<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.BaseCategory3Mapper">

    <resultMap id="BaseResultMap" type="com.atguigu.gmall.model.product.BaseCategory3">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="category2Id" column="category2_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,category2_id
    </sql>
    <select id="selectCategory3ByC2Id" resultType="com.atguigu.gmall.model.product.BaseCategory3">
     SELECT id,`name`,`category2_id`
     FROM `base_category3`
     WHERE `category2_id` = #{c2Id}


    </select>

    <resultMap id="BaseAttrAndValue" type="com.atguigu.gmall.model.product.BaseAttrInfo" autoMapping="true">
        <id column="id" property="id"></id>
        <collection property="attrValueList" ofType="com.atguigu.gmall.model.product.BaseAttrValue" autoMapping="true">
            <id column="vid" property="id"></id>

        </collection>
    </resultMap>
    <select id="getAttrNameAndVale" resultMap="BaseAttrAndValue">
                SELECT
                bai.*,
                bav.id vid,
                bav.`value_name`,
                bav.`attr_id`
        FROM
                `base_attr_info`bai
        LEFT JOIN
                `base_attr_value` bav
        ON
                bai.`id`=bav.`attr_id`
        WHERE
                (bai.`category_id` = #{c1Id} AND `category_level` = 1)
        OR
                (bai.`category_id` = #{c2Id} AND `category_level` = 2)
        OR
                (bai.`category_id` = #{c3Id} AND `category_level` = 3)
    </select>
</mapper>
